body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  /*width: 960px;*/
  height: 700px;
  margin: 0;
  /*margin-top: 10px;*/
}

#main {
  float: left;
  width: 750px;
  width: 960px;
  padding-left: 10px;
  color:black;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  /*width: 900px;*/
  /*height: 70px;*/
  font-weight: normal;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
  top: -25px; 
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

#selection-header {
  padding: 20px 10px;
  margin-bottom: 10px;
  background: #8CE2C0;
  box-shadow: 0 5px 5px #888888;
  height: 25px;
}

#selection-header h1{
  font-size:24px;
  color:white;
  float:left;
  margin: 0;
  margin-top:15px;
  display: inline-block;
}

#selection-header h1.lite{
  color: #11A2B2;
  /*margin-right:10px;*/
}

select{
  border:none;
  height: 30px;
  background: #80CEAF;
  color: white;
  font-size:16px;
  position: relative;
  top:-5px;
  /*margin-left:10px;*/
}


select#selectedCohort {
  width: 47%;
}

select#selectedConcept {
  width: 47%;
}

select:focus, button:focus{
  outline:none;
}

button {
  /*margin-left: 10px;*/
  /*height: 30px;*/
  background: none;
  border: none;
  /*border-radius: 25px;*/
  color: white;
  font-size: 28px;
  font-weight: normal;
  padding-top:10px;
}

button:hover{
  color: #11A2B2;
}

.headerOptions{
  position:absolute;
  right: 0px;
  top:5px;
  width: 80%;
  /*display: inline;*/
}

.headerTitle{
  position:absolute;
  left: 10px;
  top:0px;
}

#table1{
  background-color: #ececec;
  border: 1px solid white;
}
#table1 th{
  background-color: #11A2B2;
  color: white;
  border: 1px solid white;
}
/*#table1 tr:nth-child(odd){
  background-color: #dfdfdf;
}
#table1 tr:nth-child(even){
  background-color: #ececec;
}*/

#table1 td:nth-child(odd){
  background-color: #dfdfdf
}
#table1 td:nth-child(even){
  background-color: #ececec;
  /*max-width: 100px;*/
}

#l1, #l2, #l3, #l4, #l5, #l6, #l7 {
  vertical-align: top;
  border: 1px solid white;
  width: 100px;
}